<div class="d-flex">
    <div class="rating">
        <input type="radio" name="rating" id="{{id}}-rat10" 
        value=10 (click)="ratingGame($event)">
        <label for="{{id}}-rat10">10</label>
        <input type="radio" name="rating" id="{{id}}-rat9"
        value=9 (click)="ratingGame($event)">
        <label for="{{id}}-rat9">9</label>
        <input type="radio" name="rating" id="{{id}}-rat8"
        value=8 (click)="ratingGame($event)">
        <label for="{{id}}-rat8">8</label>
        <input type="radio" name="rating" id="{{id}}-rat7"
        value=7 (click)="ratingGame($event)">
        <label for="{{id}}-rat7">7</label>
        <input type="radio" name="rating" id="{{id}}-rat6"
        value=6 (click)="ratingGame($event)">
        <label for="{{id}}-rat6">6</label>
        <input type="radio" name="rating" id="{{id}}-rat5"
        value=5 (click)="ratingGame($event)">
        <label for="{{id}}-rat5">5</label>
        <input type="radio" name="rating" id="{{id}}-rat4"
        value=4 (click)="ratingGame($event)">
        <label for="{{id}}-rat4">4</label>
        <input type="radio" name="rating" id="{{id}}-rat3"
        value=3 (click)="ratingGame($event)">
        <label for="{{id}}-rat3">3</label>
        <input type="radio" name="rating" id="{{id}}-rat2"
        value=2 (click)="ratingGame($event)">
        <label for="{{id}}-rat2">2</label>
        <input type="radio" name="rating" id="{{id}}-rat1"
        value=1 (click)="ratingGame($event)">
        <label for="{{id}}-rat1">1</label>
    </div>    
</div>
