
.cols-8{
    //se ve gigantesco pero se rompe menos en stackblitz
    width: 85%;
}

.cols-3{
    width: 35%;
    text-align: end;
    position: fixed;
    right: 0;
    overflow-y: scroll;
    max-height: 90%;
}