img{
    width: 15%;
    border-radius: 5px;
}

li{
    list-style: none;
    text-align: left;
    margin: 13px 0px;
    background-color: #2e2e39;
    width: 94%;
    border-radius: 15px;
    padding: 10px;
    color: white;
}

p{
    color: white;
    padding-right: 24px;
}

button{
    background: none;
    border: none;
    color: white;
}


