<div>
    <h2>Contacto</h2>
    <p>Gracias por visitar Games. Para contactarnos por favor usa una de las siguientes direcciones:</p>
    <p>Para comunicarse con Games acerca de la eliminación de una cuenta, problemas de registro, inicio de sesión u otros problemas técnicos, comuníquese con nuestro equipo de soporte
    dirigiendose a la siguiente direccion gamesSupportTeam@pimpumpam.com</p>
    <p>Para comunicarse con Games sobre reseñas, calificaciones, cobertura editorial o consultas editoriales generales, envíe un correo electrónico a gameEditorial@tuki.com</p>
</div>
  